body {
    font-family: 'Poppins', sans-serif;
}

#content-one {
    background-color: #f2e3c9;
    color: #293462;
    padding: 40px 0;
    
}

#content-two {
    background-color: #ec8f6a;
    color:white;
    padding: 20px 0;
    
}

#content-three {
    background-color: #d2fafb;
    color: #293462;
    padding: 20px 0;
}

#content-four {
    background-color: #6bc5d2;
    color: #293462;
    padding: 20px 0;
}

#content-five {
    background-size: cover;
    width: 1430px;
    height: auto;
    display: none;
}

.carousel-item{
    height: 300px;
}

.text-three {
    padding: 20px;
}

.icon {
    width: 100px;
    padding: 15px 0;
    
}

footer {
    background-color: #293462;
    padding: 50px;
    color: white;
}

.icon-two {
    width: 70px;
}

.datos {
    text-align: left;
    font-size: 12px;
    padding-top: 20px;
}


/* Media Queries */

@media (min-width: 576px) {
    
 }


@media (min-width: 768px) { 
    .icon {
        display: block;
        width: 120px;
        height: auto; 
    }

    #content-five {
        display: block;
    }

    .datos {
        text-align: left;
        font-size: 12px;
    }
}


@media (min-width: 992px) { 

 }


@media (min-width: 1200px) { 

 }
